@{
    ViewBag.Title = "Not Found";
}
<h1>@ViewBag.ErrorMessage</h1>
@*<h1>@ViewBag.path</h1>
    <h1>@ViewBag.QA</h1>*@
<a asp-action="index" asp-controller="home" class="btn btn-outline-success">
    Click Here To See the list of employee
</a>